/* body {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    background-color: #ffc857;
    margin: 0;
    padding: 0;
}

#root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */
