.profile-single-img-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
    box-sizing: border-box;
}

.profile-single-div-style {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    box-sizing: border-box;
    width: 75%;
    background-color: white;
    border: 1px;
    border-radius: 8px;
}

.profile-single-img-div {
    position: relative;
    width: 5rem;
    height: 25rem;
    overflow: hidden;
    box-sizing: border-box;
    margin: 1rem;
    background-color: rgba(0, 0, 0, .25);
    width: auto;
}

.profile-single-img {
    position: absolute;
    margin: auto;
    top: -9999px;
    bottom: -9999px;
    right: -9999px;
    left: -9999px;
    width: 100%;
    height: auto;
}

.profile-single-img-content {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.profile-img-button-container {
    display: flex;
    justify-content: center;
}

.profile-single-img-buttons {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 1rem;
    width: 75%;
    background-color: lightcyan;
}
