.homepage-container {
    margin: 0 1rem;
}

.homepage-headline-div {
    display: flex;
    justify-content: left;
}

.homepage-headline {
    padding: 0 4px;
    font-weight: 400;
}

.homepage-all-images {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 4px;
}

.homepage-nav-wrapper {
    height: 40vh;
    flex-grow: 1;
    padding: 4px 4px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.homepage-nav-wrapper:hover {
    transform: scale(1.02)
}

.homepage-images {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.homepage-image-content {
    position: relative;
    bottom: 25px;
    background-color: rgba(0, 0, 0, .4);
    text-decoration: none;
    color: white;
    padding: .2rem .4rem;
}
