.all-albums-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-albums-header {
    color: white;
}

/* .all-albums-div {
    width: 50%
} */

.all-albums-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 75%;
}

.all-albums-nav-container {
    display: flex;
    width: 100%;
}

.all-albums-nav-wrapper {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
    color: black;
    transition: all 0.4s ease;
}

.all-albums-nav-wrapper:hover {
    transform: scale(1.025)
}

.all-albums-style-div {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 1rem;
    height: 15rem;
    background-color: white;
    border: 1px;
    border-radius: 8px;
    width: 100%;
}

.album-list-img-div {
    position: relative;
    overflow: hidden;
    width: 10rem;
}

.all-albums-display {
    position: absolute;
    margin: auto;
    top: -9999px;
    bottom: -9999px;
    right: -9999px;
    left: -9999px;
    width: 100%;
    height: auto;
}

.all-albums-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    font-size: 2rem;
    margin-left: 1rem;
}

.all-albums-delete-div {
    display: flex;
    align-items: center;
}

.all-albums-delete {
    box-sizing: border-box;
    height: 2rem;
    width: 5rem;
    background-color: #F24236;
    border: 1px;
    border-radius: 4px;
}
