body {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    background-color: #ffc857;
    margin: 0;
    padding: 0;
    /* background-image: url(https://res.cloudinary.com/depdd11lz/image/upload/v1636259092/Drivr-teal-subie_vojhqn.jpg); */
    /* background-size: cover; */
}

#root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
