.homepage-single-img-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
    box-sizing: border-box;
}

.homepage-single-div-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 75%;
    height: auto;
    background-color: white;
    border: 1px;
    border-radius: 8px;
}

.homepage-single-img-div {
    position: relative;
    width: 5rem;
    height: auto;
    box-sizing: border-box;
    margin: 1rem;
    width: auto;
}

.homepage-single-img {
    margin: auto;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.homepage-single-img-content {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 18px;
}

.homepage-single-img-comments-holder {
    background-color: royalblue;
    border-radius: 8px;
    width: 50%;
}

.homepage-single-comment-holder {
    background-color: seagreen;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.homepage-single-comment-author {
    font-weight: 500;
}

.homepage-single-comment-author > span {
    font-weight: 400;
}

.homepage-single-comment-content {
    padding-left: 0.5rem;
}

.homepage-single-comment-buttons {
    display: flex;
    gap: 1rem;
    background-color: skyblue;
}

.homepage-single-comment-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 5rem;
    border: 1px;
    border-radius: 4px;
    background-color: #5AA9E6;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.homepage-single-comment-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 5rem;
    border: 1px;
    border-radius: 4px;
    background-color: #F24236;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.homepage-single-img-form {
    background-color: tomato;
    display: flex;
    flex-direction: column;
    width: 50%;
    /* padding: 1rem; */
}

.homepage-single-img-textarea {
    font-family: Ginto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    resize: none;
    height: 4rem;
    outline: none;
    border-radius: 4px;
    margin: 0.5rem 1rem;
}

.homepage-single-img-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 5.5rem;
    border: 1px;
    border-radius: 4px;
    background-color: #5AA9E6;
    color: white;
    font-size: 1rem;
    margin: 0.5rem 1rem;
    cursor: pointer;
}
